<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    	
    <link rel="icon" type="image/ico" href="/favicon.ico"/>
    <link rel="stylesheet" href="style.css">
    <title>Dev en Dev</title>
</head>
<body>
    <div class="divdeOuf">
        <%-include('partials/cgu.ejs'); -%>
        <div class="confirmModal">
            <div id="confirmLog" class="mask"></div>
        </div>   
        <%-include('partials/topBar.ejs'); -%> 
    
    <div id="lateral" class="lateral">
        <%-include('partials/topBarMobile.ejs'); -%>
        <%-include('partials/theme.ejs'); -%>
    
    
    
        
         <div id="modalContact" class="maskContact">
            <a href="https://www.facebook.com/profile.php?id=100008466600174"><img  class="fb" src="/images/fb.png" width="20%" alt="">Facebook</a>
            <a class="twitter" href="https://twitter.com/MorganPicard2"><img id="fckTwitter" class="imgContact" src="/images/twitter.png" width="25%" alt=""> Twitter</a>
            <a href="https://github.com/mangozmorgan" class="gitContact"><img id="fckGit" class="imgContact" src="/images/gitColor.png" width="30%" alt=""> Github</a>
        </div>
        
        <div id="modalTuto" class="maskTuto">
            <a href="tuto1.html">Tuto 1</a>
            <a href="tuto2.html">Tuto 2</a>
            <a href="tuto3.html">Tuto 3</a>
        </div>
        
        <div id="modalProjet" class="maskProjet">
            <a href="projet1.html">Projet 1</a>
            <a href="projet2.html">Projet 2</a>
            <a href="projet3.html">Projet 3</a>
        </div>
    
        <%-include('partials/modalRegister.ejs'); -%>
    
        <div class="divLogin" id="divLogin">
           
            <%-include('partials/modalLogin.ejs'); -%>
    
        
    
           
    
    
    
        
    
        <div id="modalContact" class="maskContact">
            <a href="https://www.facebook.com/profile.php?id=100008466600174"><img  class="fb" src="/images/fb.png" width="20%" alt="">Facebook</a>
            <a class="twitter" href="https://twitter.com/MorganPicard2"><img id="fckTwitter" class="imgContact" src="/images/twitter.png" width="25%" alt=""> Twitter</a>
            <a href="https://github.com/mangozmorgan" class="gitContact"><img id="fckGit" class="imgContact" src="/images/gitColor.png" width="30%" alt=""> Github</a>
        </div>
    
     
    
        
    
        
        <div class="banniere" id="banniere">
            
               
                    
                        <div id="openVolet" class="openVolet" onclick="volet()"></div>               
                       
                
            <div class="html kill" id="htmlLogo"  ><img id="imgHtml" src="/images/htmlWht.png" width="73%" alt="" srcset=""></div>
            <div class="css kill"><img id="imgCss" src="/images/cssWht.png" width="73%" alt="" srcset=""></div>
            <div class="js kill"><img id="imgJs" src="/images/jsWht.png" width="73%" alt="" srcset=""></div>
        
            <div class="comp "id="active">
                <div class="geerAnim">               
                    <img  src="/images/geer3.png" width="40%" alt="geerAnim" >                           
                </div>
                <div class="dedlogo "><img id='dedlogo' src="/images/help.png" width="60%"  alt=""> </div>
                <div class="atomeOff kill" id="animAtome">
                    <div class="atome kill"><img src="/images/atome.png" width="20%" alt="" srcset=""></div>            
                </div>
                
                <div class="atomeOff kill" id="animAtome2">
                    <div class="atome2"><img src="/images/atome.png" width="20%" alt="" srcset=""></div>            
                </div> 
    
            </div>
            <div class="dedMob"><div class="newLog"><img src="/images/logoIllustrator3.png" width="75%" alt="devLogo" ></div></div>
            <div class="search"><img src="/images/search.png" width="80%" alt="search" srcset=""></div>
            <div class="mongo kill"><img id="imgMongo" src="/images/mongoWht.png" width="73%" alt=""></div>
        
        <div class="node kill"><img id="imgNode" src="/images/nodeWht.png" width="73%" alt="" srcset=""></div>
        <div class="git kill" id="git"><img id="imgGit" src="/images/githWht.png" width="73%" alt="" srcset=""></div>
        </div>
        
        
    
    <div class="container2" id="container">
        <div class="" id="contenu">
            <div class="cadre">
                
                
                <div class="questions" id="question1"><a id="questionTitle1" href="/vosQuestions">Vos Questions</a><p>Quelque chose que tu as mal compris ? Ca fait des heures voir des jours que tu es bloqué ? Pose tes questions ici !  </p></div>
                
                        
                <div class="questions" id="question2"> <a id="questionTitle2" href="/vosAstuces">Vos Astuces</a><p>Tu as des mémos sympas ? Un plugin dont tu ne peut plus te passer ? Partage nous tout ça dans la rubrique suivante ! </p></div>
                    
                <div class="questions" id="question3"><a id="questionTitle3" href="/vosCreas">Vos créations</a><p>Tu travaille sur une appli qui s'apprête a faire le buzz ? Tu es plutot fier du design ou du site web que tu as crées ? C'est là que ça ce passe ! </p></div>     
                        

                        

                        




            

                
            
            
                
                
            
                    
                    
                
            </div>
        </div>
    </div>



<script src="followTheme.js"></script>
<script src="effect.js"></script>
<script src="effetEntreAide.js"></script>  
<script src="cookies.js"></script>
<script type="text/javascript" language="javascript">
    var la_couleur='';
    
    function recupererCookie(nom) {
	var nomRC = nom + "=";
	var ca = document.cookie.split(';');
	for(var i=0;i < ca.length;i++) {
		var c = ca[i];
		while (c.charAt(0)==' ') c = c.substring(1,c.length);
		if (c.indexOf(nomRC) == 0) return c.substring(nomRC.length,c.length);
	}
	return "inconnu";
}


    la_couleur = recupererCookie('firstCookie');
    
    
    if(la_couleur!='' && la_couleur!='inconnu')
    mef(la_couleur);
    function mef(couleur)
    {	
        let topBar = document.getElementById('topBar');
        let banniere = document.getElementById('banniere');
        let paragraphe = document.getElementById('contenu')
        let lien = document.getElementsByClassName("pink")
        let helpLink1 = document.getElementById('question1')
        let helpLink2 = document.getElementById('question2')
        let h3Questions = document.getElementById('h3Questions')
        let helpLink3 = document.getElementById('question3')



        helpLink1.addEventListener('click',()=>{
            window.location.href = '/vosQuestions'            
        })
        helpLink2.addEventListener('click',()=>{
            window.location.href = '/vosAstuces'
        })
        helpLink3.addEventListener('click',()=>{
            window.location.href = '/vosCrea'
        })
        
        if(couleur === 'girly'){
            for(let i=0 ;i<lien.length;i++){
                lien[i].style.color = "rgba(238,174,202,1)"
            }
            
            
            topBar.style.background="linear-gradient(180deg, rgba(47,54,64,1) 0%, rgba(0,0,0,0.8183648459383753) 100%, rgba(255,255,255,1) 100%)";
            
            banniere.style.background="radial-gradient(circle, rgba(238,174,202,1) 18%, rgba(148,187,233,1) 100%)";
            document.body.style.background = "rgb(245, 246, 250)"
            paragraphe.style.color = "RGBA(60,67,77,0.9)"
        }else if(couleur === 'green'){
            for(let i=0 ;i<lien.length;i++){
                lien[i].style.color = "#ffffff"
            }
            topBar.style.background="linear-gradient(180deg, rgba(52,73,94,1) 21%, rgba(86,110,135,1) 100%)";
            
            banniere.style.background="linear-gradient(182deg,#a5cc7c, rgba(105, 143, 63,0.8))";
            document.body.style.background = "rgb(245, 246, 250)"
            paragraphe.style.color = "RGBA(60,67,77,0.9)"
        }else if (couleur === 'dark'){
            for(let i=0 ;i<lien.length;i++){
                lien[i].style.color = "#ffffff"
            }
            topBar.style.background="linear-gradient(180deg, rgba(47,54,64,1) 0%, rgba(0,0,0,0.8183648459383753) 100%, rgba(255,255,255,1) 100%)";
            
            banniere.style.background="linear-gradient(180deg, rgba(87,101,116,1) 0%, rgba(0,0,0,0.8183648459383753) 100%, rgba(255,255,255,1) 100%)";

            document.body.style.background = "rgba(34, 47, 62)"

            

            h3Questions.style.color = "linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(208,208,208,1) 100%)"
            
        }
          
        
        creerCookie('firstCookie', couleur, '15');
    }
    
    </script>


<script>let question1 = document.getElementById('question1')
    let question2 = document.getElementById('question2')
    let question3 = document.getElementById('question3')
    let questiontitle1 = document.getElementById('questionTitle1')
    let questiontitle2 = document.getElementById('questionTitle2')
    let questiontitle3 = document.getElementById('questionTitle3')
    
    question1.addEventListener('click',()=>{
        document.location.href="/vosQuestions"
    })
    question2.addEventListener('click',()=>{
        document.location.href="/vosAstuces"
    })
    question3.addEventListener('click',()=>{
        document.location.href="/vosCreas"
    })

    question1.addEventListener("mouseenter",()=>{
     
        questiontitle1.style.color = "white "
        questiontitle1.style.border = "1px white solid"
    })
    question1.addEventListener("mouseleave",()=>{
        questiontitle1.style.color = "rgba(60, 67, 77, 0.9)"
        questiontitle1.style.border = "1px rgba(59, 83, 107,0.6) solid"
    })
    
    question2.addEventListener("mouseenter",()=>{
        
        questiontitle2.style.color = "white "
        questiontitle2.style.border = "1px white solid"
    })
    question2.addEventListener("mouseleave",()=>{
        questiontitle2.style.color = "rgba(60, 67, 77, 0.9)"
        questiontitle2.style.border = "1px rgba(59, 83, 107,0.6) solid"
    })
    question3.addEventListener("mouseenter",()=>{
        
        questiontitle3.style.color = "white "
        questiontitle3.style.border = "1px white solid"
    })
    question3.addEventListener("mouseleave",()=>{
        questiontitle3.style.color = "rgba(60, 67, 77, 0.9)"
        questiontitle3.style.border = "1px rgba(59, 83, 107,0.6) solid"
    })</script>
</body>
</html>